# 라이브러리 Import

## 기본 라이브러리

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

# 데이터 로드

## train data

In [7]:
train_df = pd.read_csv('./data/train.csv',encoding='utf-8-sig')
train_df

,id,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt,target
0,1,10,2392,Ex,3,968,Ex,2392,2392,Ex,2,2003,2003,2003,386250
1,2,7,1352,Gd,2,466,Gd,1352,1352,Ex,2,2006,2007,2006,194000
2,3,5,900,TA,1,288,TA,864,900,TA,1,1967,1967,1967,123000
3,4,5,1174,TA,2,576,Gd,680,680,TA,1,1900,2006,2000,135000
4,5,7,1958,Gd,3,936,Gd,1026,1026,Gd,2,2005,2005,2005,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1346,6,1756,Gd,2,422,TA,872,888,Ex,2,1996,1997,1996,204000
1346,1347,9,2748,Gd,3,850,Ex,1850,1850,Ex,2,2006,2006,2006,390000
1347,1348,5,1214,TA,1,318,TA,1214,1214,TA,2,1967,1967,1967,143000
1348,1349,5,894,TA,2,440,TA,864,894,Gd,1,1974,1974,1974,131000
1349,1350,5,907,TA,1,343,TA,907,907,Gd,1,1978,1978,1978,140000

## test data

In [8]:
test_df = pd.read_csv('./data/test.csv',encoding='utf-8-sig')
test_df

,id,Overall Qual,Gr Liv Area,Exter Qual,Garage Cars,Garage Area,Kitchen Qual,Total Bsmt SF,1st Flr SF,Bsmt Qual,Full Bath,Year Built,Year Remod/Add,Garage Yr Blt
0,1,9,1800,Gd,2,702,Ex,1800,1800,Ex,2,2007,2007,2007
1,2,6,1082,TA,1,240,TA,1082,1082,TA,1,1948,1950,1948
2,3,6,1573,Gd,2,440,Gd,756,769,Gd,2,2000,2000,2000
3,4,6,2443,Gd,3,744,Gd,1158,1158,Gd,2,2004,2004,2004
4,5,5,1040,TA,2,686,TA,1040,1040,TA,1,1968,1968,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1346,8,1932,Ex,3,774,Ex,1932,1932,Ex,2,2008,2008,2008
1346,1347,5,912,TA,1,288,TA,912,912,TA,1,1964,1964,1964
1347,1348,4,861,TA,2,288,TA,861,861,Fa,1,1920,1950,1920
1348,1349,5,1430,TA,2,624,Gd,1430,1430,Ex,2,2004,2005,2004
1349,1350,5,2337,TA,2,560,TA,662,1422,TA,2,1900,1950,1945

## 변수명 한글화

In [9]:
train_orgin_col = list(train_df.columns)
train_orgin_col

['id',
 'Overall Qual',
 'Gr Liv Area',
 'Exter Qual',
 'Garage Cars',
 'Garage Area',
 'Kitchen Qual',
 'Total Bsmt SF',
 '1st Flr SF',
 'Bsmt Qual',
 'Full Bath',
 'Year Built',
 'Year Remod/Add',
 'Garage Yr Blt',
 'target']

In [14]:
test_orgin_col = list(test_df.columns)
test_orgin_col

['id',
 'Overall Qual',
 'Gr Liv Area',
 'Exter Qual',
 'Garage Cars',
 'Garage Area',
 'Kitchen Qual',
 'Total Bsmt SF',
 '1st Flr SF',
 'Bsmt Qual',
 'Full Bath',
 'Year Built',
 'Year Remod/Add',
 'Garage Yr Blt']

In [10]:
train_kor_col = ['고유ID','전반적품질','지상층면적','외관재료품질','차고케파','차고면적','부엌품질','지하실면적','1층면적','지하실높이'
                 ,'지상층화장실개수','완공연도','리모델링연도','차고완공연도','target']

In [16]:
test_kor_col = ['고유ID','전반적품질','지상층면적','외관재료품질','차고케파','차고면적','부엌품질','지하실면적','1층면적','지하실높이'
                 ,'지상층화장실개수','완공연도','리모델링연도','차고완공연도']

In [17]:
train_col_dict = {}
for k,v in zip(train_orgin_col,train_kor_col):
    train_col_dict[k] = v
    
train_df = train_df.rename(columns=train_col_dict)
train_df.head()

,고유ID,전반적품질,지상층면적,외관재료품질,차고케파,차고면적,부엌품질,지하실면적,1층면적,지하실높이,지상층화장실개수,완공연도,리모델링연도,차고완공연도,target
0,1,10,2392,Ex,3,968,Ex,2392,2392,Ex,2,2003,2003,2003,386250
1,2,7,1352,Gd,2,466,Gd,1352,1352,Ex,2,2006,2007,2006,194000
2,3,5,900,TA,1,288,TA,864,900,TA,1,1967,1967,1967,123000
3,4,5,1174,TA,2,576,Gd,680,680,TA,1,1900,2006,2000,135000
4,5,7,1958,Gd,3,936,Gd,1026,1026,Gd,2,2005,2005,2005,250000

In [18]:
test_col_dict = {}
for k,v in zip(test_orgin_col,test_kor_col):
    test_col_dict[k] = v
    
test_df = test_df.rename(columns=test_col_dict)
test_df.head()

,고유ID,전반적품질,지상층면적,외관재료품질,차고케파,차고면적,부엌품질,지하실면적,1층면적,지하실높이,지상층화장실개수,완공연도,리모델링연도,차고완공연도
0,1,9,1800,Gd,2,702,Ex,1800,1800,Ex,2,2007,2007,2007
1,2,6,1082,TA,1,240,TA,1082,1082,TA,1,1948,1950,1948
2,3,6,1573,Gd,2,440,Gd,756,769,Gd,2,2000,2000,2000
3,4,6,2443,Gd,3,744,Gd,1158,1158,Gd,2,2004,2004,2004
4,5,5,1040,TA,2,686,TA,1040,1040,TA,1,1968,1968,1991